/* Jon Website CSS*/
/* same class as Lawnservices*/.handyman {
  width: 50%;
  height:
}
body {
  background-color: #e6e6e6;
}
li {
  display: inline-block;
  border-right: 5px;
}
ul {
  padding: auto;
  padding-right: 10px;
}
 .main-nav li {
   padding-top: 3em;
   text-align: center;
 }
h1 {
  font-size: 1em;
  font-style: normal;
  padding-top: 10px;
}
/* CSS for Art.html*/
.fortnite {
  width: 50%;
}
/* CSS for RealEstate.html*/
.super{
  width: 50%;
}
/* CSS for Lawnservices.html*/

/* CSS for Contact Me.html*/
 .jonface {
  width: 50%;
  height:
 }
 .form{
   border-style: inset;
   width:50;
 }
input[type=text], select {
  width: 50%;
  display: list-item;

}
input[type=email], select {
  width: 50%;
  display: list-item;
}
/* Footer*/
footer{
  font-style: italic;
  font-size: 1.6;
}
